.toy-edit-wrapper {
    width: 100%;
    background-color: var(--clr1bg);
    margin: 0;
    padding: 50px;
}

.edit-toy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
    padding: 20px;
    background-color: var(--clr2bg);
    border-radius: 20px;
    margin-inline: auto;

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        button {
            align-self: center;
            width: 100px;
        }
    }
    h3 {
        color: var(--clr3);
        font-size: 2em;
    }

    .save-toy-btn {
        width: 120px;
        height: 30px;
        border-radius: 15px;
        background-color: var(--clr2bg-light);
        color: var(--grey2);
        @include for-normal-layout {
            width: 200px;

        }
    }
    @include for-wide-layout {
        width: 60%;
    }
    
    
    .edit-inputs-wrapper {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    
    input {
    color: var(--clr2);
    width: 120px;    
    background-color: var(--clr3);
    &::placeholder {
        color: var(--clr2);
    }
    @include for-normal-layout {
        width: 200px;
    }
    }

    select {
        width: 120px;    
        flex-grow: 0;
        max-width: 100%;
        background-color: var(--clr3);
        padding-inline: 10px;
        
        @include for-normal-layout {
            width: 200px;
        }
        @include for-wide-layout {
            width: 200px;
        }

    }
}
 
}




