* {
    box-sizing: border-box;

}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--clr1bg);
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    transition: background-color 0.5s ease, color 0.5s ease;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    /* color: inherit; */
    cursor: pointer;
}

button {
    font-size: 1.1rem;
    padding: 10px;
    width: max-content;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    border: 1px solid var(--clr2);
    cursor: pointer;
    color: var(--clr2);
    background-color: var(--clr3);
    * {
        pointer-events: none;
    }
    transition: transform 0.5s ease;
    &:hover {
        transform: scale(1.1);
    }
}

input,
select {
    border-radius: 15px;
    height: 35px;
    width: 180px;
    font-size: 1.1em;
    padding: 10px;
    border: 1px solid var(--clr2);
    font-family: 'DM Sans', sans-serif;
}

input {
    &::placeholder {
        color: var(--clr2);
    }
    
    &:focus {
        outline: none;
        color: var(--clr2);
    }

    &[type='checkbox'] {
    appearance: none;
    display: inline-block;
    height: 3px;
    width: 3px;
    border: 1px solid var(--clr2);
    box-shadow: none;
    border-radius: 3px;
    color: var(--clr2);
    cursor: pointer;
    position: relative;
}
    &[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid var(--clr2);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); 
}

}

select {
    padding: 5px;   
    appearance: none;  
    color: var(--clr2);

}

/* MAC like scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--clr1);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: var(--clr1);
}

::-webkit-scrollbar-thumb:vertical {
    background: var(--clr1);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    -webkit-border-radius: 100px;
}

/* .main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

/* .main-app main {
    flex-grow: 1;
    width: 100%;
}

.main-app>footer {
    background-color: #111;
    color: white;
} */

.button-like {
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    border: 1px solid var(--clr2);
    cursor: pointer;
    color: var(--clr2);
    background-color: var(--clr3);
    * {
        pointer-events: none;
    }
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.1);
    }
}
