:root {
  
  --clr1: rgb(53, 51, 51);
  --clr2: #e71111;
  --clr3: whitesmoke;

  --clr1bg: white;
  --clr2bg: #e71111;
  --clr3bg: dodgerblue;
  --clr4bg: rgb(18, 189, 18);
  --clr1bg-light: #dedbd2ce;
  --clr2bg-light:  rgb(245, 190, 202);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(122, 115, 115);
  --gray3: rgb(44, 44, 44);


} 

.dark {
  --clr1: whitesmoke;
  --clr2: #e06d6d;
  --clr3: rgb(54, 54, 54);
  
  --clr1bg: black;
  --clr2bg:  #e06d6d;
  --clr3bg: rgb(128, 166, 204);
  --clr4bg: rgb(100, 192, 100);
  --clr1bg-light: #dedbd2ce;
  --clr2bg-light:  rgb(138, 108, 115);
  --gray1: rgb(44, 44, 44);
  --gray2: rgb(122, 115, 115);
  --gray3: rgb(240, 240, 240);
}

$layout-padding: 20px;

$narrow-breakpoint: 600px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1280px;

$narrow-padded: $narrow-breakpoint + 2 * $layout-padding;
$normal-padded: $normal-breakpoint + 2 * $layout-padding;
$wide-padded: $wide-breakpoint + 2 * $layout-padding;

