.toysort-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    
    .toysort-select-wrapper {
        position: relative;
        
        select {
            background-color: var(--clr3);
        }
        span {
            position: absolute;
            right: 10px;
            top: 5px;
        }
    }

}

.sort-order-container {
    display: flex;
    align-items: center;
    margin-inline-end: 20px;
    gap: 7px;
    label {
        font-size: 20px;
    }
}
