.toysort-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    // margin-block-start: 20px;
    align-items: center;
    gap: 10px;
        @include for-normal-layout {
            display: flex;
            gap: 15px;
        }
    .toysort-select-wrapper {
        position: relative;
        select {
            background-color: var(--clr3);
            width: 200px;
        }
        span {
            position: absolute;
            right: 10px;
            top: 5px;
        }
    }

}

.sort-order-container {
    display: flex;
    align-items: center;
    // align-self: flex-end;
    margin-inline-end: 30px;
    gap: 7px;
    label {
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 7px;
        
        &:has(input:disabled){
            opacity: 0.4;
        }
    }
}
