.toy-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    height: 100%;
    width: 100%;
    color: var(--clr1)
}

.toy-preview-container img {
    height: 200px;          
    width: 100%;
    object-fit: contain;
}

.toy-preview-container h2 {
    font-size: clamp(12px, 5vw, 24px);
    
}

.toy-preview-info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.toy-preview-labels-container {
    display: flex;
    gap: 5px;
    justify-content: start;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    bottom: 0;

}

.toy-preview-labels-container span {
    border-radius: 5px;
    color: var(--clr1);
    border: 1px solid var(--gray1);
    font-size: 0.8em;
    padding: 2px;
    white-space: nowrap;
    width: max-content;
    align-self: end;
}
.toy-preview-labels-container span:nth-child(1) {
    background-color: var(--clr2bg);
}

.toy-preview-labels-container span:nth-child(2) {
    background-color: var(--clr3bg);
}

.toy-preview-labels-container span:nth-child(3) {
    background-color: var(--clr4bg);
}

